*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
@font-face {
    font-family: Lato-Bold;
    src: url("./assets/fonts/Lato-Bold.ttf")
}

@font-face {
    font-family: Lato-Black;
    src: url("./assets/fonts/Lato-Black.ttf")
}

@font-face {
    font-family: Lato-Light;
    src: url("./assets/fonts/Lato-Light.ttf")
}

@font-face {
    font-family: Lato-Regular;
    src: url("./assets/fonts/Lato-Regular.ttf")
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 10px;
    /* max-width: 1020px; */
    margin: auto;
}

.wrap{
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width:1020px;
}



a{
    text-decoration: none;
}

.header{
    width: 100%;
    transition: all ease 0.3s;
    position: fixed;
    z-index: 10;
}

.header_wrapper{
    max-width: 1020px;
    height: 95px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    margin: auto;
}

.header-height{
    height: 50px;
}

.header_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92.16%;
    transition: all ease .5s;
}

.logo{
    transition: all ease .5s;
}

.logo_to-left{
    margin-left: 10px !important;
}

.logo_name {
    color: white;
    font-family: 'Lato-Bold';
    font-size: 25px;
    letter-spacing: -0.7px;
    text-transform: uppercase;

}

.burger{
    display: none;
    position: absolute;
    border: none;
    left: 20px;
    margin-top: 2px;
    width: 25px;
    height: 20px;
    transition: ease-out 0.3s;
    background-color: transparent;
    background-image: url(./assets/images/burger-menu-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 40;
}

.roate{
    transform: rotate(90deg);
}

.logo_star{
    color: #f06c64;;
}

.nav{
    display: flex;
    align-content: flex-end;
}

.navigation_item{
    display: inline-block;
    padding-top: 11px;
}

.navigation_link:hover{
    color: #f06c64;
    text-decoration: underline;
}

.active{
    color: #f06c64 !important; 
    text-decoration: underline !important; 
}

.navigation_link{
    color: white;
    font-family: 'Lato-Bold';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: -0.2px;;
    text-decoration: none;
    margin-left: 27px;
    transition: ease 0.1s;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
}

.slider-section{
    background-color: white;
    margin: auto;
    width: 100%;
    background-color: #f06c64; 
    padding-top: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all ease-out .3s;
}

.phone-slide{
    max-width: 1020px;
    width: 100%;  
    
}

.phone-slide img{
    max-width: 1020px;
    width: 100%;
    height: auto;
}



.item img{
    width: 100%;
}

.left-phone_black-screen{
    display: none;
    width: 188px;
    height: 333px;
    position: absolute;
    background-color: black;
    top: 119px;
    left: 126px;
}

.right-phone_black-screen{
    display: none;
    width: 334px;
    height: 188px;
    position: absolute;
    background-color: black;
    top: 191px;
    left: 485px;
}

.phone_button{
    /* border: 1px solid black; */
    position: absolute;
    width: 45px;
    height: 45px;
    bottom: 95px;
    left: 197px;
    border-radius: 50%;
    cursor: pointer;
}

.phone_button_right{
    /* border: 1px solid black; */
    position: absolute;
    width: 45px;
    height: 45px;
    top: 263px;
    left: 432px;
    border-radius: 50%;
    cursor: pointer;
}

.show{
    display: block !important; 
}

.left{
    position: relative;
    left: 42px;
    bottom: 3px;
    z-index: 9;
}

.right{
    position: relative;
    right: 42px;
    bottom: 3px;
}

.arrow{
    transition: ease 0.3s;
}

.arrow:hover{
    cursor: pointer;
    filter: contrast(0.9%);
}

.second_slider_arrow{
    filter: contrast(0.9%);
}

.services{
    max-width: 1020px;
    width: 100%;
    /* height: 500px; */
    margin: auto;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    border-bottom: 6px solid #ffffff;
}

.services_title{
    color: #666d89;
    font-weight: 500;
    letter-spacing: +0.2px;
    font-size: 30px;
    font-family: 'Lato-Black';
}

.article{
    max-width: 943px;
    width: 92.45%;
}

.services_text{
    color: #666d89;
    font-size: 18px;
    font-family: 'Lato-Light';
    height: max-content;
    text-align: justify;
    Line-height: 1.7;
    letter-spacing: 0.19px;
    word-spacing: -2.7px;
    margin-top: 16px;

}

.services_items{

    margin-top: 24px;
}

.services_items_row-1{
    /* max-width: 943px; */
    width: 92.15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
}

.item_title{
    color: #666d89;
    font-size: 18px;
    font-family: 'Lato-Black';
    line-height: 0.6;
    letter-spacing: -0.1px;
    word-spacing: 0.5px;
    margin-left: 4px;
}

.services_item{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

/* .services-title{
    font-family: 'Lato-bold', sans-serif;
    color: #666d89;
    font-weight: 700;
    font-size: 29px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    padding-bottom: 4px;
    margin-left: 3px;
} */

/* h3{
    color: #666d89;
    font-family: 'Lato-bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    line-height: 17.86px;
    margin-bottom: 9px;
    margin-left: 4px;
    letter-spacing: -0.6px;
} */

.item_text{
    color: #767e9e;
    font-family: 'Lato-bold', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.9px;
    width: 220px;
    margin-top: 0;
    margin-left: 5px;
    word-spacing: -1px;
    text-align: justify;
    margin-top: 16px;
}

.service_ico {
    padding-right: 18px;
}

.service_ico:nth-child(1){
    padding-left: 3px;
}

.services_items_row-1{
    margin-bottom: 34px;
}
 
.portfolio{
    max-width: 1020px;
    width: 100%;
    /* height: 870px; */
    border-bottom: 6px solid #323746;
    margin: auto;
    background-color: #2d303a;
    padding-top: 59px;
    padding-bottom: 60px;
}

.portfolio_wrapper{
    margin: 0 auto;
    width: 92.15%;
    max-width: 940px;
}

.wrapper{
    margin: 0 auto;
    width: 92.15%;
    max-width: 940px;
}

.portfolio_title{
    color: #666d89;
    font-family: 'Lato-Black';
    font-size: 30px;
    letter-spacing: 0.16px;
}

.portfolio_text{
    color: #767e9e;
    text-align: justify;
    font-family: 'Lato-Light';
    font-size: 18px;
    letter-spacing: 0.19px;
    word-spacing: -0.6px;
    margin-top: 22px;
}

/* .tags{
    width: 310px;
} */

.portfolio_tags{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 290px;
}

.tags_item{
    text-decoration: none;
    display: inline-flex;
}

.tags_link{
    text-decoration: none;
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 3px;
    transition: all 0.3s; 
}

.tags_link:hover{
    color: white;
    cursor: pointer;
    border-color:white;
}

.active_tag{
    color: white;
    border-color: white;
}

.portfolio_imgs-container{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 601px;
    margin: 0 auto;
    width: 95%;
    max-width: 940px;
    margin-top: 19px;
}

.portfolio_img{
    /* display: flex; */
    transition: ease 0.3s;
    /* flex: 1 0 20%;
    min-width: 100px;
    height: auto; */
    cursor: pointer;
}

.active_img{
    outline: 5px solid #F06C64;
}

.about-us{
    max-width: 1020px;
    width: 100%;
    /* height: 734px; */
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    margin: auto;
    padding-top: 59px;
    padding-bottom: 75px;
}

.about-us_title{
    color: #666d89;
    font-family: 'Lato-Black';
    font-size: 30px;
    letter-spacing: -0.2px;
}

.about-us_text{
    color: #666d89;
    text-align: justify;
    line-height: 1.65;
    font-family: 'Lato-Light';
    font-size: 18px;
    letter-spacing: 0.19px;
    word-spacing: -2.7px;
    margin-top: 19px;
}

.eployees-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    /* height: 445px; */
    margin-top: 45px;
    overflow: hidden;

}

/*      
    max-width: 301px;

} */

.employee_name{
    color: #666d89;
    padding-top: 15px;
    font-family: 'Lato-Black';
    font-size: 18px;
    text-align: justify;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.employee_text{
    color: #666d89;
    padding-top: 9px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 1.8;
    text-align: justify;
    word-spacing: -2px;
    letter-spacing: 0.16px;
}

.employee_social{
    margin-top: 22px;
}

.social_item{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    margin-right: 7px;
    transition: all 0.3s;
}

.social_item:hover{
    filter: contrast(0.5%);
    cursor: pointer;
}

.social_item:nth-child(3){
    margin-right: 4px;
}


.contacts{
    max-width: 1020px;
    width: 100%;
    border-bottom: 6px solid #eb676b;
    margin: auto;
    background-color: #f16c64;
    padding-top: 59px;
    padding-bottom: 58px;
}

.contacts_title{
    color: #f0d8d9;
    font-family: 'Lato-Black';
    font-size: 30px;
    letter-spacing: -0.16px;
}

.contacts_text{
    color: #f0d8d9;
    text-align: justify;
    font-family: 'Lato-Light';
    font-size: 18px;
    letter-spacing: 0.19px;
    word-spacing: -2.6px;
    line-height: 1.65;
    margin-top: 20px;
}

.contacts_container{
    display: flex;
    font-display: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 42px;
}

.contacts_info{
    max-width: 301px;
    width: 31.7%;

}

.input{
    width: 100%;
    height: 38px;
    margin-bottom: 16px;
    background-color: #d6564f;
    border: none;
    border-radius: 7px;
}

::placeholder{
    color: #f48c8f;
    font-size: 12px;
    padding-left: 14px;
}

textarea{
    max-width: 620px;
    width: 100%;
    height: 202px;
    background-color: #d6564f;
    border: none;
    border-radius: 7px;
    color: #f48c8f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-top: 11px;
    resize: none;
    margin-bottom: 16px;
}

.submit_button{
    background-color: #FBC65F;
    color: #886A30;
    border-radius: 7px;
    font-weight: bold;
    border: none;
    width: 136px;
    height: 38px;
    cursor: pointer;
}

.footer{
    max-width: 1020px;
    height: 76px;
    background-color: #2d303a;
    margin: auto;
    padding-top: 23px;
}

.social_item-footer{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 32px;
    height: 32px;
    border: 1px solid #666d89;
    border-radius: 50%;
    margin-right: 6px;
    transition: all 0.3s;
}

.social_item-footer:hover{
    border-color: #ffffff;
    cursor: pointer;
}

.social_item-footer:last-child{
    margin-right: 0px;
}

.social_item-footer:first-child{
    margin-right: 5px;
}

.social_item-footer:nth-child(3){

}

.contacts_info_title{
    color: #f0d8d9;
    font-size: 18px;
    font-family: 'Lato-Black';
    letter-spacing: 0.1px
}

.contacts_info_text{
    color: #f0d8d9;
    max-width: 300px;
    width: 100%;
    font-family: 'Lato-Regular';
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    word-spacing: -0.5px;
    margin-top: 8px;
}

.contacts_info_contact{
    color: #f0d8d9;
    font-family: 'Lato-Regular';
    font-size: 12px;
    margin-top: 24px;
    line-height: 15px;
    word-spacing: -1px;
    letter-spacing: 0.04px;
    margin-top: 23px;
}

.contacts_form{
    margin-top: +1px;
    width: 66%;
    max-width: 620px;
}

.contacts_info_contact a{
    text-decoration: none;
    color: #f0d8d9;
}

.contacts_info_contact div{
    margin-bottom: 4px;
}

.email{
    margin-top: 6px;
}

.contact_ico{
    margin-right: 11px;
    display: inline-flex;
}

.adress{
    margin-left: 3px;
}

.phone{
    margin-left: 1px;
}

.footer_container{
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin-top: 9px;
    color: #666d89;
    margin-left: 2px;
    font-family: 'Lato-Regular';
    font-size: 12px;
    letter-spacing: -0.1px;
}
.slide_nav{
    left: 0 !important;
}

.modal{
    display: none;
    position: fixed;
    justify-content: space-around;
    align-items: center;
	background-color: rgb(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20
}

.modal_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #f16c64;
    border-radius: 5px;
    width: 50%;
    max-height: 1000px;
}


.modal_status{
    width: 90%;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: sans-serif;
    background-color: #d6564f;
}

.modal_subject{
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    background-color: #d6564f;
}

.modal_describe{
    width: 90%;
    margin: 5px;
    margin-bottom: 10px;
    max-height: 300px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    background-color: #d6564f;
    overflow: auto;
}

.opacityWindow{
    display: block;
    background-color: rgba(0, 0, 0);
    opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index: 20;
    transition: all ease .5s;
}

.opacity{
    opacity: 60% !important;
    position: fixed;
}


.carousel {
    position: absolute;
    top: 95px;
    text-align: center;
  }
  
  .items-container {
    position: absolute;
    width: 1020px;
    overflow: hidden;
  }
  
  .item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
  }

.active-slide,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
    animation-name: left;
  }
  
  .from-right {
    animation-name: right;
  }
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .to-left-logo{
    animation-name: left;
  }

  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

  
  /* media */

  @media only screen and (min-width: 768px) and (max-width: 1019px){

    .portfolio_img{
        margin: 10px;
        width: 30%;
        flex-grow: 1;
        height: auto;
    }

    .employee_item{
        width: 30%;
        margin: 10px;
    }

    .employee_item img{
        width: 100%;
    }

    .carousel{
        display: none;
    }

  }

  @media only screen and (max-width: 767px){
      .burger{
        display: block;
      }

      .header_container{
        width: 80%;  
        justify-content: flex-start;
      }

      .logo_name{
        font-size: 19.69px;
      }

      .services_items_row-1{
          justify-content: center;
      }

      .portfolio_img{
        margin: 6px;
        width: 45%;
        flex-grow: 1;
    }

    .portfolio_img:nth-child(n+9){
        display: none;
    }

    .eployees-container{
        flex-wrap: wrap;
    }

    .employee_item{
        width: 100%;
        padding-top: 34px;
        justify-content: space-around;
    }

    .employee_item img{
        width: 100%;
    }

    .contacts_container{
        flex-wrap: wrap;
    }

    .contacts_info{
        width: 100%;
        max-width: 100%;
        padding-top: 19px;
    }

    .contacts_info_text{
        max-width: 100%;
    }

    .contacts_form{
        margin-top: +1px;
        width: 100%;
        max-width: 100%;
    }

    textarea{
        width: 100%;
        max-width: 100%;
    }

    .submit_button{
        width: 100%;
    }
    
    .copyright{
        display: none;
    }
    
    .footer_container{
        justify-content: space-around;
    }

    .services_items_row-1{
        max-width: 220px;
    }

    .nav{
        position: absolute;
        left: -100%;
        top: 0;
        width: 74.14%;
        padding-top: 190px;
        padding-left: 70px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
        background-color: #323746;
        height: 100vh;
        transition: all ease-in .5s;
        z-index: 35;
    }

    .navigation_item{
        display: block;
        padding-top: 30px;
    }

    .navigation_link{
        font-size: 24px;
    }

    .logo{
        position: absolute;
        z-index: 45;
        top: 35px;
        margin-left: 34vw; 
    }

    .carousel{
        display: none;
    }
    
  }
