* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
  background:#F5F5F5;
  font-family: LATHA;
  }
  
  .main{
  display:flex;
  flex-direction: column;
  background:white;
  margin:auto;
  width:60%
  }
  
  header{
  display:flex;
  width:60%;
  background: white;
  }
  
  .allContacts{
  background:white;
  margin-bottom: 30px;
  }
  
  .contact{
  margin-top: 10px;
  }
  
  .n{
  position: relative;
  background: #DCDCDC;
  }
  
  .p{
    position: relative;
    background:#F5F5F5;
  }
  
  #addContact{
  border:none;
  background:#7a1616;
  color:white;
  text-transform: uppercase;
  font-weight:bold;
  width:120px;
  height:50px;
  cursor: pointer;
  }
    
  #srch{
  height:25px;
  }
  
  .xButton{
  background: #7a1616;
  border: none;
  text-align:center;
  padding:1px;
  height: 100%;
  color:white;
  position: absolute;
  right: 0px;
  cursor: pointer;
  }
  
  .hide{
  display: none;
  }
  
  form{		
    margin: auto;
    width: 100%;
  }
  
  #ADD{
  border:none;
  background:#7a1616;
  color:white;
  text-transform: uppercase;
  font-weight:bold;
  width:120px;
  height:50px;
  margin: auto;
  cursor: pointer;
  }
  
  form input{
  width: 50%;
  }
  
  .nameField{
  color: #7a1616;
  text-transform: uppercase;
  font-weight:bold;
  }
  
  .phoneField{
  color: #7a1616;
  text-transform: uppercase;
  font-weight:bold;	
  }
  
  .border{
  border: 3px solid #7a1616;
  }
  
  p{
    width: 50%;;
    display: inline-block;
  }